@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .border-gradient {
    border-bottom: 1px solid; 
    border-image: linear-gradient(to right, transparent, rgba(243, 244, 246, 0.3), transparent) 1;
  }
  .text-balance {
    text-wrap: balance;
    color: #01140d;
    color: hwb(0 100% 0%);
    color: rgb(60, 147, 255);
    color: rgb(243, 244, 246); 
  }

  .glassMorphism {
    background: rgba(255,255,255,0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255,255,255,0.25); */
  }

  .blurMorphism {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@layer base {
  @font-face {
    font-family: SatoshiBold;
    font-weight: 400;
    src: url(/fonts/Satoshi-Bold.otf);
  }

  @font-face {
    font-family: SatoshiBlack;
    font-weight: 400;
    src: url(/fonts/Satoshi-Black.otf);
  }

  @font-face {
    font-family: SatoshiMedium;
    font-weight: 400;
    src: url(/fonts/Satoshi-Medium.otf);
  }

  @font-face {
    font-family: SatoshiRegular;
    font-weight: 400;
    src: url(/fonts/Satoshi-Regular.otf);
  }

  @font-face {
    font-family: SatoshiLight;
    font-weight: 400;
    src: url(/fonts/Satoshi-Light.otf);
  }


.sun-editor{
  border-radius: 0.5rem !important;
}

.option:hover{
  background-color: #02462d !important;
  color: white !important;
}









  @font-face {
    font-family: PoppinsBold;
    font-weight: 400;
    src: url(/fonts/Poppins-Bold.ttf);
  }

  @font-face {
    font-family: PoppinsBlack;
    font-weight: 400;
    src: url(/fonts/Poppins-Black.ttf);
  }

  @font-face {
    font-family: PoppinsSemiBold;
    font-weight: 400;
    src: url(/fonts/Poppins-SemiBold.ttf);
  }

  @font-face {
    font-family: PoppinsMedium;
    font-weight: 400;
    src: url(/fonts/Poppins-Medium.ttf);
  }

  @font-face {
    font-family: PoppinsRegular;
    font-weight: 400;
    src: url(/fonts/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: PoppinsLight;
    font-weight: 400;
    src: url(/fonts/Poppins-Light.ttf);
  }
}
